.c-menu{
	z-index: 1;
	&_sub{
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		padding: 2.5rem 0 3rem;
		visibility: hidden;
	}
	&_dropdown{
		&:hover{
			.c-menu_sub{
				visibility: visible;
				z-index: 1;
			}
		}
	}
	&_left{
		@include flex;
		li{
			height: 100%;
			&:nth-last-child(){
				border-right: 0;
			}
			a{
				font-size: 1.5rem;
				color: #1b1919;
				font-weight: 700;
				text-decoration: none;
				height: 100%;
				padding: 2.4rem 1.7rem;
				border-right: 1px solid #ebebeb;



			}

		}
	}

}