header.c-header
  .c-header__top
    .scrolling-words-box
      ol
        li
          a(href="#") Phấn phủ Shiseido Nhật Bản 150g:
        li
          a(href="#") Phấn phủ Shiseido Nhật Bản 250g:
        li
          a(href="#") Phấn phủ Shiseido Nhật Bản 450g:
        li
          a(href="#") Phấn phủ Shiseido Nhật Bản 150g:
        li
          a(href="#") Phấn phủ Shiseido Nhật Bản 250g:
    ol
      li
        a(href) Home
      li
        a(href) Tin tức
      li
        a(href) FAQ
      li
        a(href) Đăng ký
      li
        a(href) Đăng nhập
  .c-header__med
    .l-container
