header.c-header
  .c-header__top
    .scrolling-words-box
      ol
        li
          a(href="#") Phấn phủ Shiseido Nhật Bản 150g:
        li
          a(href="#") Phấn phủ Shiseido Nhật Bản 250g:
        li
          a(href="#") Phấn phủ Shiseido Nhật Bản 450g:
        li
          a(href="#") Phấn phủ Shiseido Nhật Bản 150g:
        li
          a(href="#") Phấn phủ Shiseido Nhật Bản 250g:
    ol
      li
        a(href) Theo dõi đơn hàng
      li
        a(href) Giới thiệu
      li
        a(href) Đăng ký
      li
        a(href) Đăng nhập
  .c-header__med
    .l-container
      .logo 
        picture 
          source(srcset=path+"assets/images/logo.webp" type="image/webp")
          img(src=path+"assets/images/logo.png" data-src=path+"assets/images/logo.png" alt='Logo'  width="161" height="124")
      ol 
        li 
          .iconbox
             img(src="https://chiaki.vn/frontend/images/shopping.svg", alt="", srcset="" width="24" height="24")     
          p Mua hàng 
            smail  Cam Kết Chất Lượng      
        li 
          .iconbox
             img(src="https://chiaki.vn/frontend/images/shopping.svg", alt="", srcset="" width="24" height="24")     
          p Thanh toán
            smail  Giao hàng & thanh toán tại nhà                
        li 
          .iconbox
             img(src="https://chiaki.vn/frontend/images/shopping.svg", alt="", srcset="" width="24" height="24")     
          p Đổi trả hàng
            smail  Trong vòng 05 ngày(*)    
        li 
          .iconbox
             img(src="https://chiaki.vn/frontend/images/shopping.svg", alt="", srcset="" width="24" height="24")     
          p Giờ mở cửa
            smail  TP. HCM             
  .c-header__bottom
    .l-container
      .navbar.dropdown-toggle
        a(href="")  Danh mục sản phẩm
        ul.dropdown-menu 
          li
            a(href="") 
             i.gg-apple-watch 
             | Hàng Hiệu Cao Cấp 
      .navbar__left         
        form.seach 
          .seach_inner
            input(type="text" name="q" placeholder="Tìm kiếm hàng nghìn Sản phẩm, Thương hiệu ...")
            button Tìm kiếm
          .seach_list
            a(href="#" taget="_blank") Collagen
            a(href="#" taget="_blank") Kem chống nắng
            a(href="#" taget="_blank") Collagen
            a(href="#" taget="_blank") Kem chống nắng
            a(href="#" taget="_blank") Collagen
            a(href="#" taget="_blank") Kem chống nắng
        a.m-btn
          i.gg-notes
          | Tra cứu đơn hàng
        a.m-btn(href="tel:0369.309.569")
          i.gg-phone
          | 0369.309.569
        a.m-btn
          .cart 
            img(src=path+"assets/images/header-nav-cart.svg", alt="cart" width="24" height="24")
            span 2