/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
	width: 100%;
	position: relative;
	@include sp{
		padding: 15px 0 0;
	}
	&__top{
		height: 50px;
		overflow-y: hidden;
		padding: 0 20px;
		background: #ffffff;
		border: 2px solid #f5f5f5;
		@include flex-jbetween;
		align-items: center;
		.scrolling-words-box{
			overflow: hidden;
			height: 50px;
			ol{
				animation: scrollUp 5s infinite;
				li{
					display: flex;
					align-items: center;
					justify-content: flex-end;
					height: 5rem;
					list-style: none;
				}
			}
		}
		$item-count: 5;
		@keyframes scrollUp {
			@for $i from 1 through ($item-count - 1) {
				#{($i * 25) - 10%}, #{$i * 25%} {
					transform: translateY((-100% / $item-count) * $i);
				}
			}
		}
		ol{
			li{
				padding: 6px 0;
				font-size: 1.3rem;
				a{
					text-decoration: none;
					padding: 0 6px;
					color: #1b1919;
					font-weight: 500;
				}
			}
			&:nth-child(2){
				@include flex;
			}
		}
	}
	&__med{
		padding: 10px 0;
		.l-container{
			@include flex-jbetween;
			align-items: center;
			padding: 0;
			.logo{
				width: 190px;
				img{
					height: auto;
					width: 190px;
					padding: 15px 0;
				}
			}
			.navbar__left{
				@include flex;
				align-items: center;
				.seach{
					&_inner{
						position: relative;
						height: 50px;
						border-radius: 15px;
						border: 1.5px solid #2e2e2e;
						input[type=search]{
							height: 50px;
							font-size: 14px;
							font-weight: 400;
							font-style: italic;
							letter-spacing: -.28px;
							border: none;
							line-height: 50px;
							background: 0 0;
							font-family: roboto,sans-serif;
							color: #8f96a1;
							outline: none;
							padding: 0 15px 0 30px;
							width: 57%;
							z-index: 2;
							border-radius: 50px 0 0 50px;
							width: calc(100% - 150px);
						}
						button{
							width: 150px;
							position: absolute;
							top: -1px;
							right: -1px;
							height: 50px;
							border-radius: 15px;
							background-color: #f3831f;
							color: #ffffff;
							font-weight: 700;
							font-size: 1.7rem;
							cursor: pointer;
							border :1px solid #f3831f
						}
					}
					&_list{
						a{
							color: #40b548;
							padding-left: 12px;
							margin-top: 15px;
						}
					}
				}
				.icon{
					padding-left: 3rem;
					@include flex;
					align-items: center;
					@include sp{
						width: 100%;
						justify-content: space-around;
					}
					> li{
						padding: 10px;
						position: relative;
						@include sp{
							position: initial;
						}
						a{
							text-decoration: none;
							color: black;
							&:hover{
								color: #EB6A6A;
							}
						}
						svg{
							fill: #2B2929;
						}
						.icon_inner{
							position: relative;
						}
						&:hover{
							svg{
								fill: #EB6A6A;
							}
							.icon_inner{
								&::before{
									content: '';
									width: 0;
									height: 0;
									border-left: 15px solid transparent;
									border-right: 15px solid transparent;
									border-bottom: 15px solid #FFFFFF;
									position: absolute;
									bottom: -4px;
									left: 5px;
								}
							}
						}
						&.cart{
							.icon_inner{
								span{
									position: absolute;
									right: -3px;
									width: 18px;
									height: 18px;
									background-color: #EB6A6A;
									border-radius: 50%;
									text-align: center;
									color: white;
									font-size: 12px;
									font-weight: 400;
									line-height: 18px;
								}
							}
						}
						.c-menu_sub{
							width: 350px;
							@include sp{
								width: 100vw;
							}
							background: #FFFFFF;
							border-radius: 10px;
							left: auto;
							&inner{
								padding: 0 1rem;
								background-color: #FFFFFF;
								.cart{
									width: 350px;
									&_inner{
										li {
											@include flex-jbetween;
											margin-bottom: 1rem;
										}
									}
									&_img{
										width: 80px;
										height: auto;
									}
									&_content{
										width: calc(100% - 90px);
										margin-left: 10px;
										&_top{
											@include flex-jbetween;
											> a{
												width: calc(100% - 100px);
												text-decoration: none;
												strong{
													color: #000000;
												}
												p{
													color: #ABABAB;
												}
											}
										}
										&_bottom {
											@include flex-jbetween;
										}
									}
								}
							}
						}
						&.user{
							.c-menu_sub{
								width: 170px;
								a{
									font-size: 1.4rem;
									line-height: 1.5;
									padding: 5px 0;
									display: block;
								}
							}
						}
					}
				}

			}
		}
	}
	&__bottom{
		background: #f5f5f5;
		@include flex;
		align-items: center;
		.l-container{
			@include flex-jbetween;
			align-items: center;
			.navbar {
				position: relative;
				max-width: 388px;
				background-color: #40b648;
				padding: 2rem 3rem;
				border-radius: 20px 20px 0 0;
				> a{
					@include flex-jbetween;
					font-size: 1.5rem;
					font-weight: 700;
					text-decoration: none;
					color: #ffffff;
					text-transform: uppercase;
					align-items: center;
					i{
						width: 30px;
						height: 30px;
						background: #74be43;
						border-radius: 50%;
						text-align: center;
						color: #fff;
						font-size: 18px;
						margin-left: 1.5rem;
						&::after{
							left: 7px;
    					top: 5px;
						}
					}
				}
				.dropdown-menu{
					display: none;
				}
			}
		}


	}
}