/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
	width: 100%;
	transition: 0.3s ease-in;
	position: relative;
	@include sp{
		padding: 15px 0 0;
	}
	&__top{
		height: 32px;
		overflow-y: hidden;
		padding: 0 20px;
		@include flex-jbetween;
		.scrolling-words-box{
			overflow: hidden;
			height: 30px;
			ol{
				animation: scrollUp 4s infinite;
				li{
					display: flex;
					align-items: center;
					justify-content: flex-end;
					height: 3rem;
					list-style: none;
				}
			}
		}
		// Variables
		$item-count: 5;
		@keyframes scrollUp {
			@for $i from 1 through ($item-count - 1) {
				#{($i * 25) - 10%}, #{$i * 25%} {
					transform: translateY((-100% / $item-count) * $i);
				}
			}
		}
		ol{
			li{
				padding: 6px 0;
				font-size: 1.2rem;
				a{
					text-decoration: none;
					padding: 0 6px;
					color: #666;
				}
			}
			&:nth-child(2){
				@include flex;
			}
		}
	}
}